<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LarryTech</title>
</head>
<body>
  <div class="header">
    <div class="header1">
      <img src="../assets/LarryTechLogo.png" class="logo" alt="">

      <div class="informacion">
        <h3>REPARACION NOTEBOOKS Y PC</h3>
        <p>Venta y suministros, actualización.</p>
        <p>Cambio de hardware, mantenimiento.</p>
        <p>Respaldo archivos, formateos, antivirus</p>
      </div>


      <div class="ubicacion">
        <p>SAN DIEGO 344 - SANTIAGO CENTRO</p>
        <p>PLACER 663 - PASILLO 1- LOCAL 23 - SANTIAGO</p>
      </div>

      <div class="contacto">
        <p>Larry Tejada Raymi</p>

        <div class="telefono">
          <img src="../assets/WhatsApp_icon.png" alt="">
          <p>+56 9 6142 7290</p>
        </div>

      </div>


    </div>
    <div class="header2">
      <h1>ORDEN SERVICIO TÉCNICO</h1>

      <br>
      <br>

      <h1>N°002000</h1>

      <br>
      <br>
      <h5>FECHA DE RECEPCIÓN</h5>
      <input type="date" class="inputDate">
    </div>
  </div>

  <br>

  <div class="ficha">

    <div class="row">
      <p>Cliente:</p>
      <input type="text" class="inputCliente">
      <p>R.U.T:</p>
      <input type="text" class="inputRut">
    </div>

    <br>

    <div class="row">
      <p>Tel.:</p>
      <input type="text" class="inputTel">
      <p>PC:</p>
      <input type="checkbox">
      <p>Notebook:</p>
      <input type="checkbox">
      <p>Impresora:</p>
      <input type="checkbox">
    </div>

    <div class="row">
      <p>Marca:</p>
      <input type="text" class="inputMarca">
      <p>Modelo:</p>
      <input type="text" class="inputModelo">
      <p>N° de Serie</p>
      <input type="text" class="inputSerie">
    </div>

    <div class="row">
      <p>Desperfeccion según cliente:</p>
      <input type="text" class="inputDesperfeccion">
    </div>

    <div class="row">
      <p>Diagnóstico:</p>
      <input type="text" class="inputDiagnostico">
    </div>

    <div class="informacionServicio">
      <p>El Servicio Técnico informa que a constar de los 60 días posterior
         a la fecha de entrega pactada, se comienza a cobrar un costo adicional por bodegaje de $1.000 diarios.
         <br>
         El Servicio Técnico no se hace responsable por equipos no retirados posterior a 1 año de la fecha de entrega pactada.
         <br>
         La fecha de entrega será siempre no superior a 15 dias hábiles.
      </p>
    </div>

    <div class="claveMarcas">

    </div>

    <hr>

    <div class="pagos">

      <div class="modoPago">
        <h4>Modo de Pago:</h4>

        <div class="row">
          <p>Red Compra</p>
          <input type="checkbox">
          <p>Master Card</p>
          <input type="checkbox">
        </div>

        <div class="row">
          <p>Visa</p>
          <input type="checkbox">
          <p>Efectivo</p>
          <input type="checkbox">
        </div>

      </div>

      <div class="pagoFecha">

      </div>

    </div>


  </div>

</body>
</html>