<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LarryTech</title>
</head>
<body>
  <div class="ficha">
    <div class="header">
      <div class="header1">
        <img src="../assets/LarryTechLogo.png" class="logo" alt="">

        <div class="informacion">
          <h3>REPARACION NOTEBOOKS Y PC</h3>
          <p>Venta y suministros, actualización.</p>
          <p>Cambio de hardware, mantenimiento.</p>
          <p>Respaldo archivos, formateos, antivirus</p>
        </div>


        <div class="ubicacion">
          <p>SAN DIEGO 344 - SANTIAGO CENTRO</p>
          <p>PLACER 663 - PASILLO 1- LOCAL 23 - SANTIAGO</p>
        </div>

        <div class="contacto">
          <p>Larry Tejada Raymi</p>

          <div class="telefono">
            <img src="../assets/WhatsApp_icon.png" alt="">
            <p>+56 9 6142 7290</p>
          </div>

        </div>


      </div>
      <div class="header2">
        <h1>ORDEN SERVICIO TÉCNICO</h1>

        <br>
        <br>

        <h1>N°002000</h1>

        <br>
        <br>

        <div class="fechaRecepcion">
          <label>FECHA DE RECEPCIÓN</label>
          <input type="date" class="inputDate">
        </div>

      </div>
    </div>

    <br>

    <div class="fichaBody">

      <div class="grid2">
        <label>Cliente:</label>
        <input type="text" class="inputCliente">
        <label>R.U.T:</label>
        <input type="text" class="inputRut">
      </div>

      <div class="grid4">
        <label>Tel.:</label>
        <input type="text" class="inputTel">
        <label>PC:</label>
        <input type="checkbox" class="checkbox">
        <label>Notebook:</label>
        <input type="checkbox" class="checkbox">
        <label>Impresora:</label>
        <input type="checkbox" class="checkbox">
      </div>

      <div class="grid3">
        <label>Marca:</label>
        <input type="text" class="inputMarca">
        <label>Modelo:</label>
        <input type="text" class="inputModelo">
        <label>N° de Serie:</label>
        <input type="text" class="inputSerie">
      </div>

      <div class="grid">
        <label>Desperfeccion según cliente:</label>
        <input type="text" class="inputDesperfeccion">
      </div>

      <div class="grid">
        <label>Diagnóstico:</label>
        <input type="text" class="inputDiagnostico">
      </div>

      <div class="informacionServicio">
        <p>El Servicio Técnico informa que a constar de los 60 días posterior
          a la fecha de entrega pactada, se comienza a cobrar un costo adicional por bodegaje de $1.000 diarios.
          <br>
          El Servicio Técnico no se hace responsable por equipos no retirados posterior a 1 año de la fecha de entrega pactada.
          <br>
          La fecha de entrega será siempre no superior a 15 dias hábiles.
        </p>
      </div>

      <div class="claveMarcas">

      </div>

      <hr>

      <div class="pagos">

        <div class="modoPago">
          <h4>Modo de Pago:</h4>

          <div class="modoPagoCheckbox">
            <div class="grid2">
              <label>Red Compra</label>
              <input type="checkbox" class="checkbox">
              <label>Master Card</label>
              <input type="checkbox" class="checkbox">
            </div>

            <div class="grid2">
              <label>Visa</label>
              <input type="checkbox" class="checkbox">
              <label>Efectivo</label>
              <input type="checkbox" class="checkbox">
            </div>
          </div>
        </div>

        <div class="pagoFecha">

          <div class="row">
            <label>Abono:</label>
            <input type="number">
          </div>

          <div class="row">
            <label>Saldo:</label>
            <input type="number">
          </div>

          <div class="row">
            <label>Valor Total:</label>
            <input type="number">
          </div>

          <div class="fechaEntrega">
            <label>FECHA DE ENTREGA</label>
            <input type="date">
          </div>

        </div>

      </div>

    </div>
  </div>
</body>
</html>