body{
    border: 1px black solid;
    width: 60%;
    margin: auto;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header1{
    width: 45%;
    text-align: center;
    margin-left: 20px;
}

.logo{
    width: 100%;
    height: 150px;
}

.header2{
    width: 50%;
    text-align: center;
}



.informacion p{
    margin: 1px;
}

.telefono{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.telefono img{
    width: 40px;
    height: 40px;
}

.inputDate{
    width: 50%;
    max-height: 200px;
}

.ficha{
    justify-content: center;
    margin: auto;
    width: 95%;
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.row p{
    margin-right: 5px;
}

.row input{
    margin-right: 20px;
}

.inputCliente{
    width: 60%;
}

.inputRut{
    width: 20%;
}

.inputTel{
    width: 70%;
}

.inputMarca{
    width: 15%;
}

.inputModelo{
    width: 30%;
}

.inputSerie{
    width: 30%;
}

input{
    height: 30px;
}

.pagos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
